<!DOCTYPE html>
<html>
<script src="node_modules/angular/angular.js"></script>
<body>

<div ng-app="" >

    <div ng-init="firstName='John'">
        <p>The name is <span ng-bind="firstName"></span></p>

        <p>The name is <span>{{firstName}}</span></p>
    </div>

</div>

</body>
</html>
