<!DOCTYPE html>
<html>
<script src="node_modules/angular/angular.js"></script>
<body>

<div ng-app="">

    <div ng-init="quantity=1;cost=5">
        <p>Total in dollar: {{ quantity * cost }}</p>
    </div>

</div>

</body>
</html>
