<!DOCTYPE html>
<html>
<script src="node_modules/angular/angular.js"></script>
<body>

    <div ng-app="" ng-init="person={firstName:'John',lastName:'Doe'}">
        <p>The name is {{ person.lastName }}</p>
    </div>  

</body>
</html>
