<!DOCTYPE html>
<html>
<script src="node_modules/angular/angular.js"></script>
<head>
    <script>
            var app = angular.module('myApp', []);
        
            app.controller('myCtrl', function($scope) {
                $scope.names = ["Andrea", "Tobias", "Marco","Tomas" ];
            });

    </script>
</head>    
<body>

    <div ng-app="myApp" >
        <div  ng-controller="myCtrl">
            <li ng-repeat="name in names">{{name}}</li>
        </div>
    </div>


</body>
</html>
