<!DOCTYPE html>
<html>
<script src="node_modules/angular/angular.js"></script>
<head>
        <script>
                var app = angular.module('myApp', []);
            
                app.controller('myCtrl', function($scope) {
                    $scope.students = [
                        { name: "Steave", grade: "A" },
                        { name: "Mark", grade: "C" },
                        { name: "Robert", grade: "B" },
                        { name: "Jenny", grade: "B" },
                        { name: "James", grade: "A" }
                    ];

                    $scope.selectedStudent = $scope.students[2].name;

                });

                
        </script>
</head>

<body>
    <div ng-app="myApp">
        <div ng-controller="myCtrl">
                <div>
                    <ul>
                        <li ng-repeat="student in students">
                            Name : {{ student.name }} , Grade : {{ student.grade}}
                        </li>
                    </ul>
                </div>


                <select ng-model="selectedStudent">
                        <option ng-value="student.name" ng-repeat="student in students">
                           {{student.name}}
                        </option>
                </select>
	      

        </div>
    </div>  
</body>
</html>
