<!DOCTYPE html>
  <html>
  <script src="node_modules/angular/angular.js"></script>
  <head>
          <script>
                    var app = angular.module('myApp', []);              
                    
                    app.controller('myCtrl', function($scope) {
                        $scope.students = [
                            { name: "Steave", grade: "A" ,age:50},
                            { name: "Mark", grade: "C" ,age:21},
                            { name: "Andrea", grade: "B" ,age:56},
                            { name: "Jenny", grade: "B" ,age:22},
                            { name: "James", grade: "A",age:30 }
                        ];
                    });

          </script>
  </head>
  
  <body>
      <div ng-app="myApp">
            <div ng-controller="myCtrl">
                <input type="text" placeholder="Search" ng-model="studentSearch">
                  <div>
                      <ul>
                          <li ng-repeat="student in students | filter:studentSearch">                                               
                                Name : {{ student.name }} , Grade : {{ student.grade}} , Age : {{ student.age}}                              
                          </li>
                      </ul>
                  </div>
          </div>
      </div>  
  </body>
  </html>

  