<!DOCTYPE html>
<html>
<script src="node_modules/angular/angular.js"></script>
<head>
        <script>
                   app = angular.module('myApp', []);

                    //rootScope
                    app.run(function($rootScope) {
                       
                        function Person (name,street,age){
                            this.name = name;
                            this.street = street;
                            this.age = age;
                            this.info = function() {
                                return "My name is " + this.name + " and I live in " + this.street;
                            }
                            this.getName= function() {
                                return this.name;
                            }
                        }
                        $rootScope.person1 = new Person ("andrea Smith", "234 Main Stret",39);
                    })        

                    //myCtrl-1
                    app.controller('myCtrl-1', function($scope) {

                    });     
                    
                    //myCtrl-2
                    app.controller('myCtrl-2', function($scope) {

                    });     

        </script>
</head>

<body>
    <div ng-app="myApp">
        
        <div ng-controller="myCtrl-1">
                <div>                    
                    name: {{person1.name}} age: {{person1.age}}                                   
                </div>
        </div>
        
        <div ng-controller="myCtrl-2">
                <div>                    
                    name: {{person1.name}} age: {{person1.age}}                                    
                </div>
        </div>


    </div>  
</body>
</html>
