<!DOCTYPE html>
<html>
<script src="node_modules/angular/angular.js"></script>
<head>
        <script>
                var app = angular.module('myApp', []);
            
                app.controller('myCtrl', function($scope) {
                                     	
                    //CLASE
                    function Person (name,street,age){
                        this.name = name;
                        this.street = street;
                        this.age = age;
                        this.info = function() {
                            return "My name is " + this.name + " and I live in " + this.street;
                        }
                        this.getName= function() {
                            return this.name;
                        }
                    }

                    $scope.person1 = new Person ("andrea Smith", "234 Main Stret",39);
                    var person2 = new Person ("Jon Travolta", "234 Avenida xxxxx",40); //out of scope
                });

        </script>
</head>

<body>
    <div ng-app="myApp">
        <div ng-controller="myCtrl">
                <div>                    
                    name: {{person1.name}} age: {{person1.age}}
                    <br>
                    name2: {{person2.name}} age: {{person2.age}}                    
                </div>
        </div>
    </div>  
</body>
</html>
