<!DOCTYPE html>
<html>
<script src="node_modules/angular/angular.js"></script>
<head>
        <script>
                var app = angular.module('myApp', []);
                
                app.controller('Controller', function($scope) {
                    $scope.customer = {
                        name: 'Naomi',
                        address: '1600 Amphitheatre'
                    };
                });

                app.directive('myCustomer', function() {
                    return {
                        template: 'Name: {{customer.name}} Address: {{customer.address}}'
                    };
                });
            </script>

</head>

<body ng-app="myApp">
    
    <div ng-controller="Controller">
        <div my-customer></div>
    </div>

</body>      

</html>
