<!DOCTYPE html>
  <html>
  <script src="node_modules/angular/angular.js"></script>
  <head>
          <script>
                    var app = angular.module('myApp', []);              
                    
                    app.controller('myCtrl', function($scope) {
                        $scope.students = [
                            { name: "Steave", grade: "A" ,age:50},
                            { name: "Mark", grade: "C" ,age:21},
                            { name: "Andrea", grade: "B" ,age:56},
                            { name: "Jenny", grade: "B" ,age:22},
                            { name: "James", grade: "A",age:30 }
                        ];
                    });

          </script>
  </head>
  
  <body>
      <div ng-app="myApp">
            <div ng-controller="myCtrl">                
                  <div>
                      <ul>
                            <h2>ng-show</h2>
                            <div ng-repeat="student in students">                                               
                              <div ng-show="student.age > 21">
                                <li>Name : {{ student.name }} , Grade : {{ student.grade}} , Age : {{ student.age}}                              
                              </div>
                            </div>  
                            
                            <hr>
                            <h2>ng-hide</h2>
                            <div ng-repeat="student in students"> 
                                <div ng-hide="student.age > 21">
                                        <li>Name : {{ student.name }} , Grade : {{ student.grade}} , Age : {{ student.age}}                              
                                </div>
                            </div>

                            <hr>
                            <h2>ng-if</h2>
                            <div ng-repeat="student in students"> 
                                    <div ng-if="student.age > 21">
                                            <li>Name : {{ student.name }} , Grade : {{ student.grade}} , Age : {{ student.age}}                              
                                    </div>
                                </div>
                            


                          </div>
                      </ul>
                  </div>
          </div>
      </div>  
  </body>
  </html>

  