<!DOCTYPE html>
  <html>
  <script src="node_modules/angular/angular.js"></script>
  
  <body>
      <div ng-app="">

            Show HTML: <input type="checkbox" ng-model="myVar">

            <div ng-show="myVar">
                    <h1>Welcome</h1>
                    <p>Welcome to my home.</p>
            </div>
            
            
      </div>  
  </body>
  </html>

  