<!DOCTYPE html>
<html>
<head>
 
<script src="node_modules/angular/angular.js"></script>

<script type="text/javascript">
    var app = angular.module('myApp', []);
        app.controller('ngclickCtrl', function ($scope) {
            $scope.clkcount = 0;
            
            $scope.getdetails = function () {
                $scope.clkcount = $scope.clkcount + 1;
            }
    });
</script>

</head>
<body>

    <div ng-app="myApp" >
        <h2>AngularJs Call Function in ng-click Event Example</h2>

        <div ng-controller="ngclickCtrl">
            <input type="button" style="cursor:pointer" value="Click Here" ng-click ="getdetails()" /><br /><br />
            <span style="color:Red">
                Number of Times you Clicked: {{clkcount}}
            </span>
        </div>
    </div>

</body>
</html>