<!DOCTYPE html>
<html>
<script src="node_modules/angular/angular.js"></script>

<script>
    angular.module('myApp', []).controller('personCtrl', function($scope) {
        $scope.firstName = "John",
        $scope.lastName = "Doe"
        $scope.price = 58;
        $scope.birthday = new Date(1988, 3, 15); // April 15, 1988
        $scope.myString = "Sed ut perspiciatis unde omnisxz, ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit";
    });
</script>


<body>

<div ng-app="myApp" ng-controller="personCtrl">

    <p>The name is {{ lastName | uppercase }}</p>

    <p>The name is {{ lastName | lowercase }}</p>

    <h1>Price: {{ price | currency }}</h1>

    <p>The hero's birthday is {{ birthday | date: "MM/dd/yy"}}</p>

    <p>{{ myString | limitTo: 30 }} {{myString.length > 20 ? '...' : ''}}</p>
    
</div>



</body>
</html>
