<html>
        <head>
           <title>Angular JS Includes</title>
           
           <style>
              table, th , td {
                 border: 1px solid grey;
                 border-collapse: collapse;
                 padding: 5px;
              }
              
              table tr:nth-child(odd) {
                 background-color: #f2f2f2;
              }
              
              table tr:nth-child(even) {
                 background-color: #ffffff;
              }
           </style>

            <script src="node_modules/angular/angular.js"></script>


            <script>
                    var app = angular.module('myApp', []);
                    app.controller('studentController', function($scope, $http) {
                        $http.get("data.json")
                        .then(function (response) {
                            $scope.students = response.data;
                        });
                    });
            </script>           
        </head>
        <body>
           <h2>AngularJS Sample Application (http)</h2>
           <div ng-app = "myApp"  >
           
              <table ng-controller = "studentController">
                 <tr>
                    <th>Name</th>
                    <th>Roll No</th>
                    <th>Percentage</th>
                 </tr>
              
                 <tr ng-repeat = "student in students">
                    <td>{{ student.Name }}</td>
                    <td>{{ student.RollNo }}</td>
                    <td>{{ student.Percentage }}</td>
                 </tr>
              </table>
           </div>
        
        </body>
     </html>