<!DOCTYPE html>
<html>
<script src="node_modules/angular/angular.js"></script>
<head>
    <script>
            var app = angular.module("myApp", []);

            app.controller("myCtrl", function($scope) {
                $scope.$watch("x", function(newValue, oldValue) {

                if (newValue != oldValue)
                    alert("x has been changed " + newValue);
                });
            });
    </script>

</head>

<body>

<div ng-app="myApp">

    <div ng-controller="myCtrl">
        Number: <input type="text" ng-model="number"></br>
  
        <button ng-click="x = number * 2">double</button></br>
  
        <span>{{x}}</span>
    </div>
</div>


</body>
</html>
