
 
<ul id="menu"> 
    <li><a href="#">Home</a></li> 
    <li class="active"><a href="#">About Us</a></li> 
    <li><a href="#">Services</a></li> 
    <li><a href="#">Portfolio</a></li> 
    <li><a href="#">Contact</a></li> 
</ul> 
