﻿
<div class="contenedor">
    <h3>Ficha Técnica</h3>
    <div class="recuadro ficha">
        <a href="#/ciclista/{{ciclista.id}}"><img ng-src="{{ciclista.img}}"></a>

        <a href="#/ciclista/{{ciclista.id}}">{{ciclista.Nombre}}</a><br />
        <strong>{{ciclista.Equipo}}</strong><br />
        {{ciclista.Pais}}
    </div>
</div>
