<!DOCTYPE html>
<html>
<script src="../node_modules/angular/angular.js"></script>
<script src="controllers/mycontroller.js"></script>
<script src="factories/notify.js"></script>
<body>

    <div ng-app="myApp">

        <div ng-controller="myController">
            <p>Let's try this simple notify service, injected into the controller...</p>
            <input ng-init="message='test'" ng-model="message" >
            <button ng-click="callNotify(message);">NOTIFY</button>
            <p>(you have to click 3 times to see an alert)</p>
        </div>

    </div>

</body>
</html>

